#about_container {
  margin-bottom: 10rem;
}

#about_header {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: solid 0.1rem #565656;
  text-shadow: #fffeeb7e 0px 0px 35px;
}

#about_sub_header {
  margin-bottom: 1rem;
  padding-top: 0.1rem;
  border-radius: 3.2rem;
  text-shadow: #fffeeb7e 0px 0px 35px;
}

#about_sub_header:hover {
  animation: gentleShake 0.5s ease-in-out;
  transition: all 0.3s ease;
}

#about_details {
  margin-bottom: 1.5rem;
  border-radius: 3.2rem;
   text-shadow: #fffeeb7e 0px 0px 35px;
}

#about_details:hover {
  cursor: pointer;
}

#about_details[open] {
  animation: fadeIn 1s;
  animation: glowingText 2s ease-in-out;
}

p {
  cursor: text;
}

@media (max-width: 50rem) {
  #about_header {
    font-size: 2.5rem;
  }
  #about_sub_header {
    font-size: 1.4rem;
  }
}

/* keyframes */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes glowingText {
  0% {
    opacity: 0;
    text-shadow: 0 0 4px #fffeeb, 0 0 8px #fffeeb, 
      0 0 7px #008cff, 0 0 10px #008cff;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 4px #fffeeb, 0 0 8px #fffeeb, 
      0 0 7px #008cff, 0 0 10px #008cff, 0 0 14px #008cff, 0 0 18px #008cff;
  }
  100% {
    opacity: 1;
     text-shadow: #fffeeb7e 0px 0px 35px;
  }
}

@keyframes gentleShake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
