#about_container {
  margin-bottom: 10rem;
}

#about_header {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: solid 0.1rem #fffeeb;
  text-shadow: #fffeeb7e 0px 0px 35px;
}

#about_sub_header {
  margin-bottom: 1rem;
  padding-top: 0.1rem;
  border-radius: 3.2rem;
  text-shadow: #fffeeb7e 0px 0px 35px;
}

#about_details {
  margin-bottom: 1.5rem;
  border-radius: 3.2rem;
}

@media (max-width: 50rem) {
    #about_sub_header {
      font-size: 1.4rem;
    }
}
