#artists {
  justify-content: start;
  padding-top: 4.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url(/images/artists.png);
}

.block_artists {
  height: 40rem;
}

@media (min-width: 50em) {
  .block_artists {
    background-position: center;
    height: 45rem;
  }
}

/* .block_background_white {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  background-color: #fffeeb;
  box-shadow: inset 0px 0px 30px #101010;
  border-radius: 3.2rem;
} */
