#artists {
  justify-content: start;
  padding-top: 4.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/images/artists.png);
}

.block_artists {
  height: 40rem;
}

@media (min-width: 50em) {
  .block_artists {
    background-position: center;
    height: 45rem;
  }
}
