.grid_container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0rem;
  border-radius: 4rem;
  margin-bottom: 5rem;
  background-color: #2828287e;
  box-shadow:
    inset 0px 0px 1px #878aaa7d,
    inset 0.5px 0.5px 0.5px #f4f5ff;
  /* border: #878aaa75 1px solid; */
  backdrop-filter: blur(10px);
  /* legacy chrome safari support */
  -webkit-backdrop-filter: blur(10px);
}

.artwork_large {
  width: 100%;
  height: auto;
  border: #878aaa29 0.5px solid;
  pointer-events: none;
}

#blue_phoenix {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 0rem;
}

#skremzy_blue {
  padding: 4rem;
}

#audiophobia_clear {
  padding: 3rem;
}

#audiophobia_clear {
  border-top-right-radius: 0rem;
}

#nwlogo {
  padding: 1rem;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

/* desktop styles */
@media (min-width: 50em) {
  .grid_container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #blue_phoenix {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    border-top-left-radius: 4rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 4rem;
  }

  #audiophobia_clear {
    border-top-right-radius: 4rem;
  }

  #nwlogo {
    border-bottom-left-radius: 4rem;
    border-bottom-left-radius: 0rem;
  }
}
