.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.grid_container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0rem;
  padding: 0.5rem;
  border-radius: 0.6rem;
}

.artwork_large {
  width: 100%;
  height: auto;
  border: #2c3954 1px solid;
  pointer-events: none;
}

#blue_phoenix {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

#skremzy_blue {
  padding: 4rem;
}

#nwlogo,
#audiophobia_clear {
  padding: 3rem;
}

#audiophobia_clear {
  border-top-right-radius: 2rem;
}

#nwlogo {
  border-bottom-right-radius: 2rem;
}

@media (min-width: 50em) {
  .grid_container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  #blue_phoenix {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
}
