.faq_img {
  width: 15rem;
  padding: 1rem;
  height: auto;
  object-fit: cover;
  pointer-events: none;
  transform: scale(1.3);
}

.block_faq {
  height: 37rem;
}

/* desktop styles */
@media (min-width: 50em) {
  .block_faq {
    background-position: center;
    height: 45rem;
  }
}
