#music_icons_container {
  padding-top: 3.5rem;
}

.music_icons {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 0rem;
  margin-bottom: 10rem;
  padding: 2rem 0rem;
  background-color: #2828287e;
  box-shadow: inset 0px 0px 5px #878aaa7d, inset 1px 1px 1px #f4f5ff;
  border: #878aaa75 1px solid;
  border-radius: 10rem;
  backdrop-filter: blur(10px);
  /* legacy chrome safari support */
  -webkit-backdrop-filter: blur(10px);
}

.music_img_link {
  width: 120px;
  height: 120px;
  padding: 0.5rem;
}

.music_img_link:hover {
  filter: drop-shadow(0px 0px 35px #a9d8ff75);
  animation: springy 0.8s;
  /* transform: scale(1.2) rotate(-7deg); */
  transition: 0.1s linear;
}

/* mobile */

@media (max-width: 50em) {
  .music_icons {
    border-radius: 4rem;
  }

  .music_img_link {
    padding: 0.8rem;
  }
}

/* animations */

@keyframes springy {
  0% {
    transform: scale(0.96);
  }
  50% {
    transform: scale(1.30);
  }
  75% {
    transform: scale(0.99);
  }
  90% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
