/* sections/containers */

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sample_pack_container {
  margin-left: 5rem;
}

.block_padding {
  padding: 2rem;
}

/* images */

.sample_pack_image {
  width: 15rem;
  height: auto;
  margin-left: -5rem;
  border-radius: 1.2rem;
  box-shadow: 0px 0px 18px 2px #101010;
  transition: 0.5s;
}

/* desktop */

@media (min-width: 60rem) {
  .sample_pack_image:hover {
    transform: translate(0px, -3rem);
    box-shadow: 0px 0px 45px 2px #fffeeba4;
  }
}

/* mobile */

@media (max-width: 60rem) {
  #sample_packs {
    height: auto;
    padding: 3rem 1rem;
  }

  .sample_pack_image {
    width: 8rem;
  }
}
