/* sections/containers */

.block_background_dark {
  background-color: #2828287e;
  box-shadow: inset 0px 0px 18px #878aaa, 0px 0px 18px #878aaab3;
  border: #878aaa75 1px solid;
  border-radius: 3.2rem;
  backdrop-filter: blur(10px);
  /* legacy chrome safari support */
  -webkit-backdrop-filter: blur(10px);
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sample_pack_container {
  margin-left: 5rem;
}

.block_padding {
  padding: 2rem;
}

/* images */

.sample_pack_image {
  width: 15rem;
  height: auto;
  margin-left: -5rem;
  border-radius: 1.2rem;
  box-shadow: 0px 0px 18px 2px #101010;
  transition: 0.5s;
}

.sample_pack_image:hover {
  transform: translate(0px, -3rem);
  box-shadow: 0px 0px 45px 2px #fffeeba4;
}

/* button links */

#sample_packs_link {
  padding: 0.6em 0.7em;
  border: solid 2px #77d0ff;
}

/* mobile */

@media (max-width: 60rem) {
  #sample_packs {
    height: auto;
    padding: 3rem 1rem;
  }

  .sample_pack_image {
    width: 8rem;
  }
}
